//===============================================================================
// BASICS
//===============================================================================
// box-sizing everywhere and webkit text rendering correction
*,
*::before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

// remove padding & list styles from all <ul> as default
ul {
  padding: 0;
  list-style: none;
}


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}


//===============================================================================
// HOME STLYES
//===============================================================================

.display-none { display: none; }

.q-page, .a-page {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 1s ease;
}
.q-page {
  z-index: 900;
}

.a-page {
  z-index: 1;
  // background-color: $yellow;
}

.home-rain {
  width: 100%;
  height: 14.3%;
  position: relative;
  text-align: center;
  padding: 15px 0;

  button {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: purple;
    background: white;
    bottom: -25px;
    left: calc(50% - 50px);
    position: absolute;
    z-index: 99; 
    transition: all 0.5s ease;

    &:hover {
      box-shadow: inset 0 60px 0 $yellow;
    }
  }

  img {
    height: 90%;
  }
}

.back-red { background-color: $red ; }
.back-orange { background-color: $orange; }
.back-yellow { background-color: $yellow; }
.back-green { background-color: $green; }
.back-blue { background-color: $blue; }
.back-purple { background-color: $purple; }
.back-black { background-color: $ink; }




.timer-1 {
  position: absolute;
  text-align: center;
  top: calc(50% - 18px);
  left: 20px;
  font-size: 36px;
  line-height: 36px;
  color: white;
  margin: 0;

  p {
    margin: 0;
    display: inline;
  }

  .small-s {
    font-size: 16px;
    line-height: 36px;
    margin-left: -8px;
  }
}

.hex-code {
  position: absolute;
  width: 100%;
  text-align: center;
  top: calc(50% - 20px);
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  font-weight: 400;
  color: white;
}

.btn-next-hex {
  position: absolute;
  top: calc(50% - 20px);
  width: 160px;
  outline: none;
  height: 40px;
  color: $purple;
  background: white;
  border: none;
  border-radius: 5px;
  right: 20px;
  transition: all 0.5s ease;

  &:hover {
    box-shadow: inset 170px 0 0 $yellow;
  }
}

.game-over-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transform: translate(0, -150%);
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  text-align: center;
  transition: all ease 0.5s;

  &.now-over {
    transform: translate(0, 0%);
  }
}

// SLIDER WRAPS

.slider-wrap {
  width: 100%;
  height: 16%;
  position: relative;
  top: 0;
  left: 0;
}

.slider-hue { 
  background: linear-gradient(to right, hsla(0, 87%, 52%, 1),hsla(10, 87%, 52%, 1),hsla(20, 87%, 52%, 1),hsla(30, 87%, 52%, 1),hsla(40, 87%, 52%, 1),hsla(50, 87%, 52%, 1),hsla(60, 87%, 52%, 1),hsla(70, 87%, 52%, 1),hsla(80, 87%, 52%, 1),hsla(90, 87%, 52%, 1),hsla(100, 87%, 52%, 1),hsla(110, 87%, 52%, 1),hsla(120, 87%, 52%, 1),hsla(130, 87%, 52%, 1),hsla(140, 87%, 52%, 1),hsla(150, 87%, 52%, 1),hsla(160, 87%, 52%, 1),hsla(170, 87%, 52%, 1),hsla(180, 87%, 52%, 1),hsla(190, 87%, 52%, 1),hsla(200, 87%, 52%, 1),hsla(210, 87%, 52%, 1),hsla(220, 87%, 52%, 1),hsla(230, 87%, 52%, 1),hsla(240, 87%, 52%, 1),hsla(250, 87%, 52%, 1),hsla(260, 87%, 52%, 1),hsla(270, 87%, 52%, 1),hsla(280, 87%, 52%, 1),hsla(290, 87%, 52%, 1),hsla(300, 87%, 52%, 1),hsla(310, 87%, 52%, 1),hsla(320, 87%, 52%, 1),hsla(330, 87%, 52%, 1),hsla(340, 87%, 52%, 1),hsla(350, 87%, 52%, 1),hsla(360, 87%, 52%, 1));
}

.slider-sat { 
  background: linear-gradient(to right, hsla(207, 0%, 50%, 1), hsla(180, 100%, 50%, 1))
}

.slider-light { 
  background: linear-gradient(to right, hsla(0, 0%, 0%, 1), hsla(180, 100%, 50%, 1), hsla(360, 100%, 100%, 1))
}

.color-wrap {
  width: 100%;
  height: 39%;
  background-color: white;
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 0 1px 5px black;
  z-index: 50;
}

.timer-wrap {
  width: 100%;
  height: 13%;
  background-color: $ink;
  position: relative;
  transition: background-color 0.3s ease;
}

.score-wrap {
  height: 28.6%;
  padding-top: 24px;
  h1 {
    margin: 12px 0 12px 0;
  }
}

.final-quote {
  font-size: 18px;
  line-height: 18px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: calc(50% - 9px);
  margin: 0;
}

// JQUERY UI SLIDER
.ui-page {
  //fix weird min height thing
  min-height:100px !important;
}

.ui-slider {
  position: absolute;
  // top: calc( 50% - 14px );
  top: 0;
  width: 100%;
  height: 100%
}

input.ui-slider-input {
    display: block;
    opacity: 0;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

.ui-slider-track {
  position: relative;
  overflow: visible;
  // border-width: 1px;
  // border-style: solid;
  // height: 15px;
  height: 100%;
  margin: 0 0;
  // top: 6px;
  top: 0;
}

.ui-slider-track .ui-btn.ui-slider-handle {
  font-size: .9em;
  line-height: 30px;
}

.ui-slider-track .ui-btn.ui-slider-handle {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 28px;
  height: 28px;
  margin: -15px 0 0 -15px;
  outline: 0;
  padding: 0;
  top: 50%;
  background: none;
  border-radius: 50px;
  border: 1px solid white;
  box-shadow: 0 1px 2px $ink;
}

.ui-page-theme-a .ui-btn {
  content: "";
  display: block;
}




// JS
.js-hide-home {
  transform: translateY(-200%);
  opacity: 0;
}

.js-warning {
  animation: warningCols 1s ease alternate infinite;
}


@keyframes warningCols {
  0% { background-color: $red; }
  50% { background-color: $ink; }
  75% { background-color: $yellow; }
  100% { background-color: $ink; }
}





