
//===============================================================================
// VARIABLES
//===============================================================================
$yellow: #F2DB00;
$coral: #FF5754;
$orange: #FF972A;
$grey: #CACCD9;
$midgrey: #555570;
$ink: #000030;
$purple: #7700FF;



$short: 0.3s;
$mid: 0.6s;
$long: 0.9s;
$vLong: 1.5s;





