
//===============================================================================
// VARIABLES
//===============================================================================

$red: #e63450;
$orange: #fca403;
$yellow: #fcd703;
$green: #3fe89b;
$blue: #3f88e8;
$purple: #7d3191;
$ink: #000030;




$short: 0.3s;
$mid: 0.6s;
$long: 0.9s;
$vLong: 1.5s;





